@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

af|dvt-chart {
box-shadow:1px 3px 10px;
min-width:500px;
margin:20px 0 0 0;
border-radius:10px;
    }

af|modulebutton {
min-height:100px;
min-width:140px;
/*perspective: 50px;
transition:0.9s;
transform-style:preserve-3d;*/
box-shadow:1px 5px 10px #330066;
margin:0px 0 0 0;
padding:0px 0px 0px 50px;
background-color:white;
opacity:0.8;
border-radius:40px;
font-weight: bolder;
animation:fade 2.5s;
}

af|modulebutton2 {
min-height:100px;
min-width:140px;
box-shadow:1px 5px 10px #330066;
margin:0px 0 0 0;
padding:0px 0px 0px 40px;
background-color:white;
opacity:0.8;
border-radius:40px;
font-weight: bolder;
animation:fade 2.5s;
}
af|modulebutton2:hover{
  opacity:1;
color:black;
}
af|modulebutton3{
  min-height:100px;
min-width:160px;
box-shadow:1px 5px 10px #330066;
margin:0px 0 0 0;
padding:0px 0px 0px 30px;
background-color:white;
opacity:0.8;
border-radius:40px;
font-weight: bolder;
animation:fade 2.5s;  
}
af|modulebutton3:hover{
  opacity:1;
color:black;
}
@keyframes fade{
0%{opacity:0}
100%{opacity:0.8}
}

af|modulebutton:hover{
opacity:1;
color:black;
/*transform:rotateY(360deg);*/
}

.headerbackColor {
    background-color: #f7f7f7;
    opacity:0.8;
    animation:fade 1.7s;
}

af|headerbutton {
    background-color:white;
    box-shadow:1px 5px 10px #330066;
    opacity:0.8;
    border-radius:40px;
    font-weight: bolder;
    
}
af|headerbutton:hover{
opacity:1;
}

.position_fixed_button {
    position: fixed;
    right: 2%;
    z-index: 10;
    background-color: #bdc0cf;
}

.sidebar_style {
    width: 500px !important;
     
    border-bottom-right-radius: 15px 15px;
   
    border-top-right-radius: 15px;
}

.sidebar_detailitem_Style {
    overflow: auto  !important;
    background-color: #6699cc;
}

.sidebar_button {
    width:200px;
    min-height: 40px;
    box-shadow:1px 5px 10px;
    border-radius:10px;
    margin:5px 10px 0 0 ;
    background-color: white;
    background: white ;
    font-family: cambria; 
    color: black; 
    font-weight:bolder;
    font-size:12px;
    opacity:0.8;
}
.sidebar_button:hover{
    opacity:1;
    color:#330066;
}


af|table {
border-radius: 8px;
    }
/*Grid Table Heading*/
af|table af|column::column-header-cell 
{   
color:black; 
font-size: 16px;
font-weight: bolder;
background-color: #6699cc;
}

.AFDefaultFontFamily:alias {
    font-family: cambria !important;    
}

af|panelAccordion::header-title
{
    background-color: #6699cc;  
    border-bottom: white 1px solid;
}

af|panelAccordion::header-toolbar {
background-color: #6699cc;
border-bottom: white 1px solid;
    }    

af|inputText::content {
font-size: 14px;
font-weight:bold;
opacity: 0.8;
}

af|inputText::content:hover {
opacity: 1;
}

af|inputDate::content {
font-size: 14px;
font-weight:bold;
    }
    
af|selectOneChoice::content {
font-size: 14px;
font-weight:bold;
opacity: 0.8;
    }

af|selectOneChoice::content:hover {
opacity: 1;
}

 af|panelTabbed::tab {
 border-radius: 8px;
 font-size: 10px;
font-weight:bold;
    }

af|Voucheractionbutton {
box-shadow:1px 5px 10px;
border-radius: 8px;
background-color:white;
opacity:0.8;
margin: 0px 5px 0px 0px;
    }

af|Voucheractionbutton:hover{
opacity:1;
color:black;
}
