@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.login_background {
    /*background-color: #a5e6ec;*/
    background-color: #bdc0cf;
}

af|modulebutton {
min-height:170px;
min-width:170px;
    box-shadow:1px 5px 10px;
    margin:20px 0 0 0;
     background-color:white;
    opacity:0.8;
    border-radius:5px;
    font-weight: bolder;
    color:#6699CC;
    
}
af|modulebutton:hover{
    opacity:1;
    color:#330066;
}


af|modulebuttonround {
    text-align: center;
    vertical-align: middle;
    color: #256080;
    border: skyblue 2.0px solid;
    font-style: italic;
    font-family: cursive;
    height: 80px;
    width: 130px;
    font-size: 15px;
    padding-top: 30px ;
    border-bottom-left-radius: 5em 5em;
    border-bottom-right-radius: 5em 5em;
    border-top-left-radius: 5em;
    border-top-right-radius: 5em;
}

af|modulebutton::link {
    text-align:center;
    box-shadow:1px 5px 10px;
    margin:20px 0 0 0;
    font-size:20px;
    font-family: candara;
    background-color:white;
    opacity:0.8;
    border-radius:5px;
    font-weight: bolder;
    color:#6699CC;
    
}

.content_pannel_acc {
    /*width:1030px !important;*/
  background-color: #bdc0cf;
  
}

.tabel_pannel_tab {
    /*width:1015px !important;*/
    background-color: #bdc0cf;
   
}

.backColor {
    background-color: white;
}

.headerbackColor {
    background-color: white;
    opacity:0.8;
}

.position_fixed_button {
    position: fixed;
    right: 2%;
    z-index: 10;
    background-color: #bdc0cf;
}

.header_module {
    font-size: 15px;
}

.theme_color {
    background-color: silver;
}

.sidebar_style {
    width: 223px !important;
     
    border-bottom-right-radius: 2em 2em;
   
    border-top-right-radius: 2em;
    
    
}

.sidebar_detailitem_Style {
    overflow: auto !important;
}

.sidebar_button {
    width:190px;
    min-height: 80px;
    border-radius:10px;
    background-color: white;
    background: white ;
    font-family: monospace; 
    color: #ff25e1; 
    
}



.AFDefaultFontFamily:alias {
    font-family: serif !important;
}

af|table::navbar {
    margin-left:38% !important; 
    border:none;
}


/*af|panelFormLayout af|inputText::label{
    border:10px solid black; 
    text-align:left;
}*/

span.xf{
    color: white !important;
}
af_selectOneChoice_label-text{
    color: white !important;
}

af|panelFormLayout af|inputDate::label, af|inputText::label, af|selectOneChoice::label{
    /*border:1px solid black;*/ 
    text-align:left !important;
    width:150px !important;
    color: white !important;
    background-color: #075890 !important;
}

/*af|panelFormLayout af|selectOneChoice::label{
    border:10px solid black; 
    text-align:left;
}*/

/*af|table {
background: none;
border: 1px solid #A65B1A;
}*/

af|table af|column::column-header-cell 
{   
/*height:35px;*/
color:white; 
/*text-align: center;*/
font-size: 12px;
font-weight: bold;
/*background-image: none;*/
background-color: #075890;

/*vertical-align: middle;*/
/*border-left: 1px solid #BF691E;*/
}

af|table::data-table-VH-lines af|column::data-cell
{
background-color:#fff;
color: #7F4614;
font-size:12px;
font-family:'OpenSans-Regular';
height:30px;
vertical-align: middle;
text-align: left;

} 

af|table::data-table-VH-lines af|column::banded-data-cell{ 
background-color:#F0E5CC; 
color: #7F4614;
font-size:12px;   
font-family:'OpenSans-Regular';  
height:30px;   
vertical-align: middle;
text-align: left; 
}

/*af|table::data-row {
background-color: #e8f4f8;
border: 1px solid #A65B1A;
}*/

af|table::data-row:selected af|column::data-cell
{  
background-color: #a3c8d9; 
border: 3px solid #075890;
color: #ffffff;  
}

af|table::data-row:selected af|column::banded-data-cell
{  
background-color: #a3c8d9;  
border: 3px solid #075890;
color: #ffffff;  
}

af|table::data-row:selected:focused af|column::data-cell
{  
background-color: #a3c8d9;   
border: 3px solid #075890;
color: #ffffff; 
}

af|table::data-row:selected:focused af|column::banded-data-cell {
background-color: #a3c8d9;   
border: 3px solid #075890;
color: #ffffff;    
}

af|table::data-row:hover af|column::data-cell
{ 
background-color: #9bafc8;  
color: #ffffff;  
}

af|table::data-row:hover af|column::banded-data-cell { 
background-color: #9bafc8;
color: #ffffff; 
}
af|table::data-table-VH-lines af|column::data-cell{ 
background-color:#e8f4f8;
}


.x14b.p_AFSelected.p_AFInactive .xi9, .xi9.p_AFSelected.p_AFInactive, .x14b.p_AFSelected.p_AFInactive .xia, .xia.p_AFSelected.p_AFInactive {
    background-color: #a3c8d9;
}
